<%= link_to 'Create a New Account', new_user_path %> or <%= link_to 'Log In with Github', github_path %> 

<h3>Sign in! </h3>

<%= form_tag login_path do %>
  <p><label>Email: </label>
  <%= text_field_tag :'session[email]' %>

  <label>Password:</label>
  <%= text_field_tag :'session[password]' %><br>
  <br>
 
  <%= submit_tag "Sign In" %></p><br>

  <% end %>







 <img src="https://images.unsplash.com/photo-1568650436496-a2a288c7be3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=550&q=60" id="main photo">


<style>
body{
  background:grey;
  color:black;
  font-size:25px;
}
h3{
  text-align:center;
}
p{
  text-align:center;
}
img{
  height:90%;
  width:100%;
}
</style>
    