<h1> Welcome, sign up here! </h1>

<%= form_tag users_path do %>
  <label>Email: </label>
  <%= text_field_tag :'user[email]' %>
  
 
  <label>Username:</label>
  <%= text_field_tag :'user[username]' %>

  <label>Password:</label>
  <%= text_field_tag :'user[password]' %><br>
  <br>
 
  <%= submit_tag "Create" %>

<% end %>