<%= link_to 'LogOut', login_path %> or <%= link_to 'View All Submitted Reviews', reviews_path %></p>

<h2><%= @musical.name %></h2>

<p><%= @musical.city %>, <%= @musical.state %> - <%= @musical.venue %></p>

<p>Genre: <%= @musical.genre %><br>

<p><%= @musical.info %></p><br>

<%= link_to 'Leave a Review', new_musical_review_path(@musical.id) %>


<h3> Critics Reviews:</h3>

<% @musical.reviews.each do |review| %>
  <div>**<%= review.headline %>**</div>
  <%= review.content %><br>
  ~ <%= review.public_name%><br>
  <br><br>
<% end %>








 <style>
body{
  background:grey;
  color:black;
  font-size:25px;
}
h2{
  text-align:center;
}
p{
  text-align:center;
}
h5{
    text-align:right;
}
</style>