<h2><%= @musical.name %></h2>

<p><%= @musical.city %>, <%= @musical.state %> - <%= @musical.venue %></p>

<p><%= @musical.genre %><br>

<p><%= @musical.info %></p> 


<%= link_to 'Leave a Review', reviews_new_path %>  