<%= form_for ([@musical, @review]) do |f| %>
<p>Choose a Musical from the list below:</p>
<p><%= f.collection_select(:musical_id, @musicals, :id, :name)%><br><p>

    <p><%= f.label 'Headline:' %><br>
    <%= f.text_area :headline %><br>

    <%= f.label 'Content:' %><br>
    <%= f.text_area :content %><br>
    <br>

    <%= f.label 'Name:' %><br>
    <%= f.text_field :public_name %></p><br>
    <br>

    <p><%= f.submit 'Create Review' %></p>

<% end %>