<%= link_to 'LogOut', login_path %>

<h2>Edit your review below:</h2>
<h3><%= @review.musical.name %></h3> 

<%= form_for ([@musical, @review]) do |f| %>
  <%= f.hidden_field :musical_id %>

    <p><%= f.label 'Headline:' %><br>
    <%= f.text_area :headline %><br>
  
    <%= f.label 'Content:' %><br>
    <%= f.text_area :content %><br>
    <br>

    <%= f.label 'Name:' %><br>
    <%= f.text_field :public_name %><br>
    <br>

    <%= f.submit 'Update Review' %>

<% end %></p>












<style>
body{
  background:grey;
  color:black;
  font-size:25px;
}
h2{
  text-align:center;
}
h3{
  text-align:center;
}
p{
  text-align:center;
}
h5{
    text-align:right;
}
</style>