<h1> NEW REVIEW FORM </h1>

<%= form_for @review do |f| %>
<%= f.label :headline %>
<%= f.text_field :headline %><br>
<br>

<%= f.label :content %>
<%= f.text_field :content %><br>
<br>

<%= f.label :public_name %>
<%= f.text_field :public_name %><br>

<%= f.submit 'Create Review' %>

<% end %>