<%= link_to 'Log Out', logout_path, method: :delete %>

<h1> NEW REVIEW FORM </h1>

<%= form_for @review do |f| %>
<%= f.label 'Headline:' %><br>
<%= f.text_area :headline %><br>
<br>

<%= f.label 'Content:' %><br>
<%= f.text_area :content %><br>
<br>

<%= f.label 'Name:' %><br>
<%= f.text_field :public_name %><br>
<br>

<%= f.submit 'Create Review' %>

<% end %>