<p>Review for Musical: <%= @review.musical.name %><br>
**<%= @review.headline %>**<br>
"<%= @review.content %>"<br>
~<%= @review.public_name %></p>
<p><a href="/reviews/<%= @review.id%>/edit">Edit Review</a></p><br>
<p>* If satisfied with your review, <%= link_to 'Return to the Musicals List', musicals_path %> or <%= link_to 'View All Submitted Reviews', reviews_path %>*</p> 
