<%= link_to 'LogOut', login_path %>

<strong><p>Review for Musical: <%= @review.musical.name %></strong><br>
**<%= @review.headline %>**<br>
"<%= @review.content %>"<br>
~<%= @review.public_name %></p>
<p><%= link_to "Edit Review", edit_musical_review_path(@review.musical, @review)%> </p>
<p>* If satisfied with your review, <%= link_to 'Return to the Musicals List', musicals_path %> or <%= link_to 'View All Submitted Reviews', reviews_path %>*</p> 


























<style>
body{
  background:grey;
  color:black;
  font-size:25px;
}
p{
  text-align:center;
}
</style>